@tailwind base;
@tailwind components;
@tailwind utilities;


.form-div {
    background-color: rgb(249, 249, 249);
}

form>input {
    width: 100%;
    height: 40px;
    background-color: rgb(252, 252, 252);
    border: solid;
    border-width: 2px;
    border-color: rgb(192, 192, 192);
    border-radius: 15px;
    padding-left: 10px;
}

form>label {
    text-align: start;
    font-weight: 500;
    color: slategray;
}

.form-btn {
    width: 100%;
    height: 40px;
    background-color: rgb(88, 180, 255);
    color: white;
    font-weight: bold;
    border-radius: 15px;
}


form {
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(224, 224, 224);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form>a {
    color: rgb(88, 180, 255);
    text-align: center;
}

form>a:hover {
    color: blue;
}

.box {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

